@color-nrd-dark: #0A5A83;
@color-nrd-light: #0095D0;
@color-nrd-lighter: #b3d4fc;

@color-theme-dark: @color-nrd-dark;
@color-theme-light: @color-nrd-light;
@color-theme-lighter: @color-nrd-lighter;
@color-grey-light: #f2f2f2;
@color-grey-dark: #cccccc;

@color-font-std: #000;
@color-font-theme-light: @color-theme-light ;
@color-font-theme-dark: @color-theme-dark ;

@main-bar-height : 50px;
@footer-height: 25px;

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.column-10 {
    display: flex;
    width: 10%;
}
.column-20 {
    display: flex;
    width: 20%;
}
.column-30 {
    display: flex;
    width: 30%;
}
.column-40 {
    display: flex;
    width: 40%;
}
.column-50 {
    display: flex;
    width: 50%;
}
.column-60 {
    display: flex;
    width: 60%;
}
.column-70 {
    display: flex;
    width: 70%;
}
.column-80 {
    display: flex;
    width: 80%;
}
.column-90 {
    display: flex;
    width: 90%;
}
.column-100 {
    display: flex;
    width: 100%;
}

body {
    background : @color-grey-light;
}

#main-bar {
    height:@main-bar-height;
    width:100%;
    background: @color-theme-light;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.main-bar-icon {
    padding-right:10px;
    padding-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
    img {
        height: 100%;
    }
}

.icon-mini {
    height: 30% !important;
}

#apps-menu-main-container, #apps-menu-profile-container {
    position: absolute;
    top: 27px;
}
.container-indicator {
    border-color: transparent;
    border-bottom-color: white;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    z-index: 2;
    position: relative;
    top: 20px;
    height: 0;
    width: 0;
}

.hide {
    display:none;
}

.main-bar-menu-container {
    display: flex;
    background: white;
    position: absolute;
    top: @main-bar-height - 25px;
    border: 1px solid @color-grey-light;
    box-shadow: 0 5px 5px 0 @color-grey-dark;
    z-index: 1;
}

#profile-menu-container {
    width: 300px;
    right: -20px;
    flex-direction: column;

    span {
        display:flex;
        align-items: center;
        margin:5px;
        background-image: url("../img/profile.svg");
        background-color: @color-theme-light;
    }

    ul {
        flex-direction: column;
        list-style: none;
        justify-content: center;
        li {
            padding-bottom:10px;
            a{
                text-decoration: none;
                color: @color-font-std;

                &:hover {
                    color: @color-font-theme-light;
                }
            }
        }

    }
}

#profile-name {
    font-weight: bold;
}

#profile-bottom-section {
    display: flex;
    background-color: @color-grey-light;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    a {
        color: @color-font-std;
        text-decoration: none;

        &:hover {
            color: @color-theme-light;
        }
    }

}

#apps-menu-container {
    height: 300px;
    width: 400px;
    right:-50px;
    flex-direction: row;

    ul {
        display:block;
        padding : 28px;
        text-align: left;
        li {
            padding: 1px;
            display: inline-block;
            vertical-align: top;
            color: black;
            z-index: 999;
            height: 100px;
            width: 100px;
            border: solid 1px white;

            &:hover {
                border: solid 1px @color-grey-dark;
            }

            a{
                text-decoration: none;
                font-size: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: black;
            }
            .menu-app-title {
                padding-top:10px;
            }
            .menu-app-img {
                display: inline-block;
                vertical-align: top;
                height: 64px;
                width: 64px;
                background-size: 64px 64px;
            }
            .menu-app-img.img-account {
                background-image: url("../img/accounting-apps.svg");
            }
            .menu-app-img.img-manuf {
                background-image: url("../img/manufacturing-apps.svg");
            }
            .menu-app-img.img-facility {
                background-image: url("../img/facility-apps.svg");
            }
            .menu-app-img.img-srm {
                background-image: url("../img/srm-apps.svg");
            }
            .menu-app-img.img-crm {
                background-image: url("../img/srm-apps.svg");
            }
            .menu-app-img.img-hr {
                background-image: url("../img/hr-apps.svg");
            }
        }
    }
}

.icon-circle {
    border-radius: 50%;
}

#left-slide {
    background: @color-grey-light none repeat scroll 0 0;
    bottom: 0;
    color: @color-grey-dark;
    line-height: 40px;
    overflow: hidden;
    padding: 12px 8px 52px;
    position: absolute;
    top: @main-bar-height;
    white-space: nowrap;
    width: 210px;
}
.slide-hide {
    left:-230px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fade {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#in-app-menu {
    box-sizing: border-box;
    list-style: outside none none;
    padding: 0 0 8px;
    position: relative;
    line-height: 40px;
}

#in-app-menu > li {
    border-radius: 2px;
    color: @color-theme-light;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 12px;
    align-items: center;
    cursor: pointer;
    display: flex;
}

#in-app-menu > li:hover {
    background: @color-theme-dark;
    color: white;
    text-shadow: none;
    width: 100%;
}
#in-app-menu > li:hover > a {
    text-decoration: none;
    color: #b3d4fc;
}

#pre-footer {
    height: @footer-height;
}
#footer {
    position: absolute;
    bottom:0;
    height: @footer-height;
    width: 100%;
    background-color: @color-theme-light;
    color:white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        background-color: @color-theme-light;
        border-radius: 50%;
        position: relative;
        height: @footer-height + 10px;
        top: -10px;
        padding: 6px;
    }
}
